.projectList {
	row-gap: 4rem;
	margin: 50vh max(var(--sidebearing), var(--gutter)) 6rem;
	position: relative;

	.project {
		&:nth-child(1n) {
			grid-column: col-6 / span 7;
		}
		&:nth-child(2n) {
			grid-column: col-1 / span 8;
		}
		&:nth-child(3n) {
			grid-column: col-8 / span 5;
		}
		&:nth-child(4n) {
			grid-column: col-2 / span 6;
		}
		&:nth-child(4n) {
			grid-column: col-4 / span 6;
		}
		&:nth-child(6n) {
			grid-column: span 8 / grid-end;
		}
	}
}
