@import "../abstracts/mixins";

.projectList {
	row-gap: 4rem;
	margin: 2rem max(var(--sidebearing), var(--gutter)) 25vh;
	@include tablet {
		margin: 50vh max(var(--sidebearing), var(--gutter)) 6rem;
	}
	position: relative;

	.project {
		&:nth-child(1n) {
			grid-column: grid-start / grid-end;
			@include tablet {
				grid-column: col-6 / span 7;
			}
		}
		&:nth-child(2n) {
			grid-column: grid-start / col-10;
			@include tablet {
				grid-column: col-3 / span 6;
			}
		}
		&:nth-child(3n) {
			grid-column: col-4 / grid-end;
			@include tablet {
				grid-column: col-8 / span 5;
			}
		}
		&:nth-child(4n) {
			grid-column: grid-start / grid-end;
			@include tablet {
				grid-column: col-2 / span 6;
			}
		}
		&:nth-child(5n) {
			grid-column: col-5 / grid-end;
			@include tablet {
				grid-column: col-4 / span 6;
			}
		}
		&:nth-child(6n) {
			grid-column: col-2 / col-11;
			@include tablet {
				grid-column: span 8 / grid-end;
			}
		}
	}
}
