.header {
	margin-top: 128px;
}
.info {
	grid-column: col-3 / col-9;
}
.title {
	grid-column: col-2 / col-8;
	margin-bottom: 2rem;
	color: var(--colour__accent);
	text-transform: uppercase;

	& > * {
		display: inline;
		border-bottom: 2px solid;
	}
	em {
		font-style: italic;
	}
}
