@import "../../styles/abstracts/mixins";

.hero {
	margin: 25vh 0;
	@include tablet {
		margin: 0;
		top: 25vh;
		position: fixed;
		visibility: visible;

		&.invisible {
			visibility: hidden;
			pointer-events: none;
		}
	}
}

.title {
	grid-column: grid-start / span 6;
}

.bio {
	margin-top: 1rem;
	grid-column: grid-start / col-10;
	@include tablet {
		grid-column: grid-start / span 4;
	}
}
