.footer {
	margin: 2rem max(var(--sidebearing), var(--gutter));
}

.colophon {
	display: grid;
	gap: var(--gutter);
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	font-size: 0.8rem;
	h3 {
		font-size: 0.8rem;
	}
}
