.ficha {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: var(--gutter);
	padding: 0;
	margin: 0;
	font-style: italic;
	margin-bottom: 1.618em;
	dt,
	dd {
		align-self: start;
	}
	dt {
		grid-column: 2;
	}
	dd {
		grid-column: 1;
	}
}

.title {
	font-size: 1rem;
	line-height: 1.618;
	margin-bottom: calc(1.618em - 1px);
	border-bottom: 1px solid;
	display: inline-block;
}
