@import "../../styles/abstracts/mixins";
.ficha {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: var(--gutter);
	row-gap: 1.618em;
	padding: 0;
	margin: 0;
	margin-bottom: 1.618em;
	dt,
	dd {
		align-self: start;
	}
	dt {
		grid-column: 2;
		font-style: italic;
	}
	dd {
		grid-column: 1;
	}
	a {
		border-bottom: 1px solid;
		@include on-event {
			text-decoration: none;
			border-color: transparent;
		}
	}
}

.title {
	font-size: 1rem;
	line-height: 1.618;
	margin-bottom: calc(1.618em - 1px);
	border-bottom: 1px solid;
	display: inline-block;
}
