@import "../../styles/abstracts/mixins";

.container {
	.image {
		align-self: center;
		&:nth-child(odd) {
			opacity: 0.3;
			@include on-event {
				opacity: 1;
			}
		}
		&:nth-child(1) {
			grid-column: screen-start / col-3;
		}
		&:nth-child(2) {
			grid-column: col-3 / col-11;
		}
		&:nth-child(3) {
			grid-column: col-11 / screen-end;
		}
	}
	figcaption {
		grid-column: col-3 / grid-end;
	}
}

.counter {
	.super,
	.sub {
		font-size: 0.7rem;
	}
	.super {
		vertical-align: 0.3rem;
	}
	.sub {
		vertical-align: -0.15rem;
	}
}
